#root {
	width: 100%;
	height: 100%;
}

/* TODO: Временная стилизация для главной страницы */
main {
	width: 100%;
	height: calc(100vh - 66px);
	text-align: center;
	background-color: var(--main-bg);
	color: var(--color);
}
