:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	--main-bg: white;
	--card-placeholder-bg-t: #f7f9fc;
	--card-placeholder-bg-b: #edf2f7;
	--card-placeholder-square: #e6edf5;
	--card-placeholder-icon: #3b78e7;
	--color: black;
	--color-muted: #8f8f8f;
	--color-primary: #1976d2;
	--header-bg: white;
	--header-border-color: #ebebeb;
	--danger: #d40924;

	--hover-color: black;
	--hover-bg: #f6fafd;

	--active-bg-primary: #e6edf5;
	--active-color-primary: #4580ff;

	--tabs-container-bg: white;
	--tab-bg: #e3e3e3;
	--tab-color: white;
	--active-tab-bg: #1976d2;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

@media (prefers-color-scheme: light) {
	:root {
		--main-bg: white;
		--card-placeholder-bg-t: #f7f9fc;
		--card-placeholder-bg-b: #edf2f7;
		--card-placeholder-square: #e6edf5;
		--card-placeholder-icon: #3b78e7;
		--color: black;
		--color-muted: #8f8f8f;
		--color-primary: #1976d2;
		--header-bg: white;
		--header-border-color: #ebebeb;
		--danger: #d40924;

		--hover-color: black;
		--hover-bg: #edf2f7;

		--active-bg-primary: #e6edf5;
		--active-color-primary: #4580ff;

		--tabs-container-bg: white;
		--tab-bg: #e3e3e3;
		--tab-color: white;
		--active-tab-bg: #1976d2;

		--picker-bg: #ffffff;
		--picker-label: #000000;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-bg: #0d0d0d;
		--card-placeholder-bg-t: #262c38;
		--card-placeholder-bg-b: #24272d;
		--card-placeholder-square: #2c3c5f;
		--card-placeholder-icon: #4783ff;
		--color: white;
		--color-dark: #8c8c8c;
		--header-bg: #181818;
		--header-modal-border-color: #292929;
		--color-muted: #8f8f8f;
		--color-primary: #1976d2;
		--header-bg: #181818;
		--header-border-color: #292929;
		--danger: #d40924;

		--hover-color: white;
		--hover-bg: #333333;

		--active-bg-primary: #212d4a;
		--active-color-primary: #4580ff;

		--tabs-container-bg: #222222;
		--tab-bg: #222222;
		--tab-color: white;
		--active-tab-bg: #0d0d0d;

		--picker-bg: #181818;
		--picker-label: #ffffff;
	}
}
